:root {

    --bg: #050505;
    --bg-soft: #080a08;
    --panel: #0c0f0c;
    --panel-light: #111411;

    --lime: #c9ff35;
    --lime-bright: #d7ff63;

    --white: #f5f7f2;
    --muted: #777d76;
    --muted-dark: #555b54;

    --cyan: #35f5ff;
    --purple: #8f6cff;
    --red: #ff4d5a;

    --line: rgba(255, 255, 255, 0.09);
    --line-light: rgba(255, 255, 255, 0.14);

    --radius-sm: 12px;
    --radius-md: 18px;
    --radius-lg: 25px;
    --radius-xl: 32px;

    --container: 1380px;

    --ease: cubic-bezier(.16, 1, .3, 1);

    --font-main: "Inter", Arial, sans-serif;
    --font-mono: "DM Mono", monospace;
}
